<%= form_for(@page_fan) do |f| %>
  <% if @page_fan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_fan.errors.count, "error") %> prohibited this page_fan from being saved:</h2>

      <ul>
      <% @page_fan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
