  <div class="content">
        <div class="page-header">
          <h1>JapanPage <small>helps you connect and share</small></h1>
          <div class="row">
          <div class="span1">
           		<img alt="Logo" src="images/logo.png">
		  </div>
          <div class="span10">
              <div class="input">
                <select id="mediumSelect" class="medium" name="mediumSelect">
                    <option>Area</option>
                    <option>Area1</option>
                    <option>Area2</option>
                    <option>Area3</option>
                    <option>Area4</option>
                </select>
             </div>
             <div class="input">
                <select id="mediumSelect" class="medium" name="mediumSelect">
                    <option>Category</option>
                    <option>Category1</option>
                    <option>Category2</option>
                    <option>Category3</option>
                    <option>Category4</option>
                </select>
             </div>
             <div class="input"><input class="span4" id="" name="" type="text" placeholder="Keyword" /></div>
         </div> 
        </div>
        </div>
        <div class="row">
          <div class="span10">
            <h2>Main content</h2>
          </div>
          <div class="span4">
            <h3>Secondary content</h3>
          </div>
        </div>
   </div>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>